/* 样式覆盖 */

/* 基础样式覆盖 */
html,
body {
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

#root {
  height: 100vh;
  overflow: auto;
}

/* monaco editor 样式覆盖 */

.margin-view-overlays {
  background-color: var(--bg-color);
}
.monaco-diff-editor .diffViewport {
  background: var(--bg-color) !important;
}

/* @fett/iocns */
.fett-icon {
  display: inline-flex;
}

/* ant-design*/
.ant-btn-primary {
  box-shadow: none !important;
}

.ant-descriptions-row {
  .ant-descriptions-item-label {
    color: var(--primary-color) !important;
    font-size: 16px !important;
    background-color: var(--bg-color) !important;
  }
}

.ant-input-outlined {
  border-color: var(--primary-color) !important;
}

.ant-input-outlined:focus {
  box-shadow: 0 0 0 1px rgba(3, 12, 22, 0.46) !important;
}

.ant-card-body {
  padding: 6px 16px !important;
}

/* 图片编辑器 */
.tui-image-editor-main {
  background-image: url("../assets/bg.png");
}
.tui-image-editor-container {
  height: calc(-196px + 100vh) !important;
}
.tui-image-editor-container .tui-image-editor-controls {
  background-color: var(--primary-color) !important;
}
