/* 主题变量 */
:root {
  --bg-color: #f6f8fa;
  --container-bg-color: #ffffff;
  --border-color: #dadce0;
  --primary-color: #1d2e54;
  --icon-hover-color: #eef1f4;
  --footer-color: rgba(29, 46, 84, 0.5);
  --sider-width: 220px;
  --header-height: 60px;
  --footer-height: 34px;
  --content-hight: calc(100vh - var(--header-height) - var(--footer-height));
}
